---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';

const posts = await getCollection('cours')
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				width: calc(50% - 1rem);
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			ul li img {
				margin-bottom: 0.5rem;
				border-radius: 12px;
			}
			ul li a {
				display: block;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
			.postImg {
				object-fit: cover;
				height: 250px;
				width: 100%;
			}
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}

			summary {
				cursor: pointer;
			}

			details[open] summary::after {
				transform: rotate(90deg);
			}

			summary h2 {
				display: inline;
				margin: 0;
				font-size: 1.25rem;
				color: rgb(var(--accent));
			}

			.tag-section-content {
				padding: 0 1.25rem 1.25rem;
				transition: all 0.2s;
			}

			.tag-section {
				background-color: rgb(var(--gray-light));
				padding: 50px;
				margin: 20px 0;
				border-radius: 10px;
				overflow: hidden;
			}

			@media (max-width: 720px) {
				ul {
					gap: 1.5em;
				}
				ul li {
					width: 100%;
				}
				main {
					padding: 0.5em;
				}
			}

		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				{Array.from(new Set(posts.map(post => post.data.tag))).map(tag => (
					<details class="tag-section">
						<summary>
							<h2>{tag}</h2>
						</summary>
						<div class="tag-section-content">
							<ul>
								{posts.filter(post => post.data.tag === tag).map(post => (
									<li>
										<a href={`/cours/${post.id}/`}>
											<img class="postImg" width={720} height={360} src={post.data.heroImage} alt="" />
											<h4 class="title">{post.data.title}</h4>
											<p class="date">{post.data.tag}</p>
										</a>
									</li>
								))}
							</ul>
						</div>
					</details>
				))}
			</section>
		</main>
	<Footer />
	</body>
</html>